<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
	<title>Job Framework</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link href="/webjars/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
	<link href="/css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body ng-app="jobFramework">
<div th:replace="fragments/header :: header">
	Header
</div>

<div class="row" style="margin-top: 60px;">
	<div class="col-sm-2">
		<div th:replace="fragments/queue :: queue">
			Queue
		</div>
	</div>
	<div class="col-sm-10">
		<div class="container">
			<div th:include="this :: content">
				Content
			</div>
		</div>
	</div>
</div>

<div th:replace="fragments/footer :: footer">
	Footer
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/angularjs/angular.min.js"></script>
<script src="/webjars/angularjs/angular-route.min.js"></script>
<script src="/webjars/angular-ui-bootstrap/ui-bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
