<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/application :: page">
<head>
	<title>Job Framework - Pipeline <span th:text="${pipeline.name}"></span></title>
</head>
<body>
<div th:fragment="content">
	<script th:inline="javascript">
		/*<![CDATA[*/
		var pipelineId = [[${pipeline.id}]];
		var buildNr = [[${build.buildNr}]];
		/*]]>*/
	</script>

	<div ng-controller="BuildController">
		<table class="table table-bordered table-striped">
			<tbody>
			<tr>
				<th>ID</th>
				<td>
					<a href="view.html" th:href="@{'/pipelines/' + ${pipeline.id}}" th:text="${pipeline.id}"></a>
				</td>
			</tr>
			<tr>
				<th>Build ID</th>
				<td th:text="${build.buildNr}"></td>
			</tr>
			<tr>
				<th>Parameter</th>
				<td th:text="${build.parameter}"></td>
			</tr>
			<tr>
				<th>Result</th>
				<td>{{ build.currentState }}</td>
			</tr>
			<tr>
				<th>Time</th>
				<td>
					{{ build.startedAt }} - {{ build.finishedAt }}
				</td>
			</tr>
			<tr>
				<th>Duration</th>
				<td>{{ build.duration }}</td>
			</tr>
			<tr>
				<th>Archive</th>
				<td>
					<a href="archive.html" th:href="@{'/pipelines/' + ${pipeline.id} + '/builds/' + ${build.buildNr} + '/archive'}"
						 th:text="${'Archive'}"></a>
				</td>
			</tr>
			<tr>
				<th>Rerun</th>
				<td>
					<a href="rerun.html" th:href="@{'/pipelines/' + ${pipeline.id} + '/builds/' + ${build.buildNr} + '/rerun'}"
						 th:text="${'Rerun with parameters'}"></a>
				</td>
			</tr>
			</tbody>
		</table>

		<div class="anchors">
			<button ng-click="toggleScrollToBottom()" class="btn" ng-class="autoButtonClass">Auto-Scroll to Bottom</button>
			<button ng-click="goToBottom()" class="btn btn-default">Scroll to Bottom</button>

			<button ng-repeat="(stepName, result) in build.results" ng-click="goToAnchor(stepName)" class="btn btn-default">
				Scroll to {{ stepName }}
			</button>
		</div>

		<div ng-repeat="(stepName, currentState) in build.stepStates" ng-if="'WAITING' == currentState">
			<h2 class="title">Waiting for Trigger on {{ stepName }}</h2>
			<button ng-click="triggerStep(stepName)" class="btn btn-primary">Trigger</button>
		</div>

		<div ng-repeat="(stepName, result) in build.results">
			<h2 class="title">
				<div class="anchor" id="anchor-{{ stepName }}">{{ stepName }}</div>
			</h2>

			<div class="information">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Result</th>
						<td>{{ result.resultStatus }}</td>
					</tr>
					<tr>
						<th>Exit Code</th>
						<td>{{ result.exitCode }}</td>
					</tr>
					<tr>
						<th>Output</th>
						<td>
							<pre>{{ result.output }}</pre>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div style="clear: both;"></div>
		<div class="anchor" id="anchor-bottom"></div>
		<button ng-click="toggleScrollToBottom()" class="btn" ng-class="autoButtonClass">Auto-Scroll to Bottom</button>
	</div>
</div>
</body>
</html>
