<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/application :: page">
<head>
	<title>Job Framework - Info</title>
</head>
<body>
<div th:fragment="content">
	<p th:text="'Info'"/>

	<table class="table table-bordered table-striped">
		<tr>
			<th>Queue Size</th>
			<td th:text="${buildState.queued.size()}"></td>
		</tr>
		<tr>
			<th>Active Pipelines</th>
			<td th:text="${buildState.current.size()}"></td>
		</tr>
		<tr>
			<th>Pipelines</th>
			<td th:text="${pipelines.size()}"></td>
		</tr>
		<tr>
			<th>Views</th>
			<td th:text="${views.size()}"></td>
		</tr>
	</table>

</div>
</body>
</html>
