<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="queue">
	<div ng-controller="QueueController">
		<table class="table table-bordered table-striped">
			<tbody>
			<tr>
				<th>Queue</th>
			</tr>
			<tr ng-repeat="queueEntry in queued">
				<td>
					{{ queueEntry.pipelineId }}
					<a ng-click="removeFromQueue(queueEntry.pipelineId, $index)">X</a>
				</td>
			</tr>
			<tr ng-if="queued.length == 0">
				<td>Empty</td>
			</tr>
			</tbody>
		</table>

		<br/>

		<table class="table table-bordered table-striped">
			<tbody>
			<tr>
				<th colspan="2">Running</th>
			</tr>
			<tr ng-repeat="(pipelineId, builds) in currentBuilds">
				<td>{{ pipelineId }}</td>
				<td>
					<div ng-repeat="buildNr in builds" style="width: 100%; border-bottom: 1px dotted darkgray;">
						<span class="float: left;">
							<a ng-href="/pipelines/{{ pipelineId }}/builds/{{ buildNr }}">
								{{ buildNr }}
							</a>

							<a ng-click="abortBuild(pipelineId, buildNr)">
								X
							</a>
						</span>
						<div class="clear: both;"></div>
					</div>
				</td>
			</tr>
			<tr ng-if="jQuery.isEmptyObject(currentBuilds)">
				<td colspan="2">None</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>
