<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/application :: page">
<head>
	<title>Job Framework - Pipelines</title>
</head>
<body>
<div th:fragment="list-pipelines">
	<div ng-controller="ListPipelinesController">
		<table class="table table-bordered table-striped">
			<thead>
			<tr>
				<td>Status</td>
				<td>ID</td>
				<td>Last Success</td>
				<td>Last Failure</td>
				<td>Last Duration</td>
				<td>Cron</td>
				<td></td>
			</tr>
			</thead>
			<tbody>
			<tr th:if="pipelines.length == 0">
				<td colspan="7">
					<b>No pipelines</b>
				</td>
			</tr>
			<tr ng-repeat="(pipelineId, data) in pipelines">
				<td ng-style="getCssColorForExitCode(data.state.exitCode)">
					{{ getExitCodeStateFor(data.state.exitCode).description }}
					<br/>
					{{ getExitCodeString(data.state.exitCode) }}
				</td>
				<td>
					<a ng-href="/pipelines/{{ pipelineId }}">{{ pipelineId }}</a>
				</td>
				<td ng-if="data.state.lastSuccessfulRun == null">
					-
				</td>
				<td ng-if="data.state.lastSuccessfulRun != null">
					<a ng-href="/pipelines/{{ pipelineId }}/builds/{{ data.state.lastSuccessfulRun }}">
						{{ data.state.lastSuccessfulRun }}
					</a>
				</td>
				<td ng-if="data.state.lastFailedRun == null">
					-
				</td>
				<td ng-if="data.state.lastFailedRun != null">
					<a ng-href="/pipelines/{{ pipelineId }}/builds/{{ data.state.lastFailedRun }}">
						{{ data.state.lastFailedRun }}
					</a>
				</td>
				<td>
					{{ data.state.lastDuration }}
				</td>
				<td ng-if="data.pipeline.cron == null">
					-
				</td>
				<td ng-if="data.pipeline.cron != null">
					{{ data.pipeline.cron }}
				</td>
				<td>
					<a ng-href="/pipelines/{{ pipelineId }}/run">Run</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

</div>
</body>
</html>
